@* @page "/flightsearch"
@using Shared.Models
@inject Client.Services.TravelPackageService PackageService
@rendermode InteractiveWebAssembly   

<h3>Packages</h3>

@if (PackageService.Packages.Count == 0)
{
    <p>No packages has been created</p>
}
else
{
    <ul>
        @foreach (var pkg in PackageService.Packages)
        {
            <li style="margin-bottom: 20px;">
                <strong>Flight:</strong> @pkg.OutboundFlight?.OfferId — @pkg.OutboundFlight?.Currency @pkg.OutboundFlight?.TotalPrice <br />
                <strong>Flight:</strong> @pkg.ReturnFlight?.OfferId — @pkg.ReturnFlight?.Currency @pkg.ReturnFlight?.TotalPrice <br />
                <strong>Hotel:</strong> @pkg.Hotel?.Name — @pkg.Hotel?.Offers?.FirstOrDefault()?.TotalPrice @pkg.Hotel?.Offers?.FirstOrDefault()?.Currency <br />
                <strong>Departure date:</strong> @pkg.DepartureDate.ToString("yyyy-MM-dd")
            </li>
        }
    </ul>
} *@
